html {
    background-color: #261C21;
    font-family: sans-serif;
  }

  body{
    margin: 0;
  }

  .hero {
    min-height: 100vh;
    display:flex;
    justify-content: center;
    align-items: center;
    color:#E8C382;
  }

  h1{
     text-shadow: 10px 10px 0 #110d0f;
     font-size: 48px;
  }